<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Welcome</title>
</head>
<body id = "ie">
    <div class="ya">
    	<center id="ier">
        <h1 class="i">Welcome to Musicorte</h1>
        <br>
        <h3 class="i">Please choose a method to continue</h3>
        <br>
        <h3 class="i">Make an account:</h3> <br> <a href="/signup" class = "ib">Sign up</a> 
        <br>
        <h3 class="i">Already have an account?</h3> <br> <a href="/signin" class = "ib">Sign in</a>
    	</center>
    </div>
</body>
</html>